[submodule "third-party/quicktree"]
	path = third-party/quicktree
	url = https://github.com/khowe/quicktree
[submodule "third-party/clearcut"]
	path = third-party/clearcut
	url = https://github.com/sheneman/clearcut
[submodule "third-party/rapidnj"]
	path = third-party/rapidnj
	url = https://github.com/somme89/rapidNJ
[submodule "third-party/fastmulrfs"]
	path = third-party/fastmulrfs
	url = https://github.com/ekmolloy/fastmulrfs/
[submodule "third-party/tps"]
	path = third-party/tps
	url = https://github.com/ioi-2017/tps
